.mat-mdc-card-header-text {
  display: flex;
  align-items: center;
}

.mat-mdc-card-header .mat-mdc-card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}