@use '@angular/material' as mat;
@use "./app/styles/theme.css";
@use "./app/styles/button.scss";
@use "./app/styles/toast.scss";
@use "./app/styles/card.scss";

html {
  height: 100%;
  @include mat.theme(
    (
      typography: Roboto,
      density: 0,
    )
  );
}

body.dark-theme {
  color-scheme: dark;
}

body.light-theme {
  color-scheme: light;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

mat-card {
  mat-icon, mat-card-avatar {
    text-align: center;
  }
}

h1 {
  line-height: 110%;
}